# Java / Maven
target/
*.class
*.jar
*.war
*.ear
*.log

# .NET
bin/
obj/
*.user
*.suo

# Node
node_modules/
dist/
.env

# IDE
.idea/
.vscode/
*.iml
.project
.classpath
.settings/

# OS
.DS_Store
Thumbs.db
